<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="static_content/css/styles.min.css">
    {% block head %}

    {% endblock %}

</head>
<body>
<div class="global-container">
    <div class="fade-background"></div>
    <header>
        <div class="wrapper">
            <h1 class="col-sm-10-12 col-md-11-12 col-lg-4-12"><a href="/">Social Cook</a></h1>
            <div class="wrapper-inside nav col-lg-8-12">
                <p><a href="/kitchen">My kitchen</a></p>
                <p><a href="/myrecipes">My recipes</a></p>
                <p><a href="/publish">Publish recipe</a></p>
                <p><a href="/news">What's new</a></p>
                <p><a href="/top">Top voted</a></p>
                <p><a href="/contact">Contact us</a></p>
            </div>
            <div class="col-sm-2-12 col-md-1-12 menu-btn menu-btn-off">
                <!--<img class="menu-btn-img" src="static_content/assets/menu_off.png">-->
                <div class="bg-image"></div>
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/kitchen">My kitchen</a></li>
            <li><a href="/myrecipes">My recipes</a></li>
            <li><a href="/publish">Publish recipe</a></li>
            <li><a href="/news">What's new</a></li>
            <li><a href="/top">Top voted</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    {% block content %}

    {% endblock %}

    <footer>
        <div class="wrapper">
            <ul class="footer-top col-sm-12-12">
                <li><a href="/kitchen">My kitchen</a></li>
                <li><a href="/myrecipes">My recipes</a></li>
                <li><a href="/publish">Publish recipe</a></li>
                <li><a href="/news">What's new</a></li>
                <li><a href="/top">Top voted</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
        </div>
        <hr>
        <div class="footer-bottom">
            <a href="/"><h4>Cook Social</h4></a>
        </div>
    </footer>
    <div class="alert-custom">
        <div class="fade-background"></div>
        <div class="alert-box">
            <p>[[MENSAGEM]]</p>
            <div class="button-container col-sm-12-12">
                <a class="button"><p>Close</p></a>
            </div>
        </div>
    </div>
</div>
<script>var cookSocial = {};</script>
{% block scripts %}

{% endblock %}
<script src="static_content/js/builds/engine.min.js"></script>

{% block alert %}

{% endblock %}
</body>
</html>