<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cook Social</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="static_content/css/reset.css">
    <link rel="stylesheet" href="static_content/css/grid.css">
    <link rel="stylesheet" href="static_content/css/general.css">
    <link rel="stylesheet" href="static_content/css/header.css">
    <link rel="stylesheet" href="static_content/css/nav.css">
    <link rel="stylesheet" href="static_content/css/footer.css">
    {% block styles %}

    {% endblock %}

</head>
<body>
    <div class="fade-background"></div>
    <header class="wrapper">
        <h1 class="col-sm-10-12"><a href="/">Cook Social</a></h1>
        <div class="wrapper nav">
            <p><a href="">My kitchen</a></p>
            <p><a href="">My recipes</a></p>
            <p><a href="">Publish recipe</a></p>
            <p><a href="">New publications</a></p>
            <p><a href="">Top voted</a></p>
            <p><a href="">Contact</a></p>
        </div>
        <div class="col-sm-2-12 menu-btn-off">
            <img class="menu-btn-img" src="static_content/assets/menu_off.png">
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="">My kitchen</a></li>
            <li><a href="">My recipes</a></li>
            <li><a href="">Publish recipe</a></li>
            <li><a href="">New publications</a></li>
            <li><a href="">Top voted</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    {% block content %}

    {% endblock %}

    <footer class="wrapper">
        <div class="footer-top col-sm-12-12">
            <p><a href="">My kitchen</a></p>
            <p><a href="">My recipes</a></p>
            <p><a href="">Publish recipe</a></p>
            <p><a href="">New publications</a></p>
            <p><a href="">Top voted</a></p>
            <p><a href="">Contact us</a></p>
        </div>
        <hr class="col-sm-12-12">
        <div class="footer-bottom col-sm-12-12">
            <a href="/"><h4>Cook Social</h4></a>
        </div>
    </footer>

    {% block scripts %}

    {% endblock %}
</body>
</html>