{% extends "base.html" %}

{% block content %}
<div id="page-content" class="contact">
    <article class="padded-col-sm-12-12">
        <h2>Contact us</h2>
        <p class="generic-text-left">Please send us your questions or sugestions. Fill in the form bellow and we will answer you as soon as possible.</p>
        <form method="post">
            <div class="input-labels">
                <label>
                    <p>Email</p>
                    <input type="email" placeholder="Insert your email" name="email">
                    <p class="error-message">{{error_email}}</p>
                </label>
                <label>
                    <p>Question / Sugestion</p>
                    <textarea placeholder="Send us your questions or sugestions"></textarea>
                    <p class="error-message">{{error_comment}}</p>
                </label>
            </div>
            <div class="button-container col-sm-12-12">
                <div class="input-submit">
                    <input type="submit" value="Send">
                </div>
            </div>
        </form>
    </article>
</div>
{% endblock %}