{% extends "base.html" %}

{% block head %}
<title>Social Cook</title>
{% endblock %}

{% block content %}
<div id="contact-sent" class="page-content wrapper">
    <section class="padded-col-sm-12-12">
        <h2>Recipe deleted</h2>
        <p class="generic-text-left">Your recipe <strong>{{title}}</strong> has been deleted!</p>
    </section>
    <section class="padded-col-sm-12-12 col-md-6-12 other-options">
        <p class="generic-text strong-text">Publish or view your own recipes</p>
        <div class="button-container col-sm-12-12">
            <a href="/publish" class="button"><p>Publish new recipe</p></a>
        </div>
        <div class="button-container col-sm-12-12">
            <a href="/myrecipes" class="button"><p>View my recipes</p></a>
        </div>
        <div class="button-container col-sm-12-12">
            <a href="/kitchen" class="button"><p>My kitchen</p></a>
        </div>
    </section>
</div>
{% endblock %}