{% extends "base.html" %}

{% block head %}
<title>Social Cooks</title>
{% endblock %}

{% block content %}
<div id="contact-sent" class="page-content wrapper">
    <section class="padded-col-sm-12-12">
        <h2>Receita apagada</h2>
        <p class="generic-text-left">A receita <strong>{{title}}</strong> foi apagada!</p>
    </section>
    <section class="padded-col-sm-12-12 col-md-6-12 other-options">
        <p class="generic-text strong-text">Publique or veja as suas receitas</p>
        <div class="button-container col-sm-12-12">
            <a href="/publish" class="button"><p>Publicar nova receita</p></a>
        </div>
        <div class="button-container col-sm-12-12">
            <a href="/myrecipes" class="button"><p>Ver as minhas receitas</p></a>
        </div>
        <div class="button-container col-sm-12-12">
            <a href="/kitchen" class="button"><p>A minha cozinha</p></a>
        </div>
    </section>
</div>
{% endblock %}