{% extends "base.html" %}

{% block head %}
<title>Editar receita - Social Cooks</title>
{% endblock %}

{% block content %}
<div id="signup" class="page-content wrapper-special">
    <section class="padded-col-sm-12-12">
        <h2>Publicar nova receita</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="input-labels">
                <div class="label">
                    <p>Título</p>
                    <input type="text" placeholder="Coloque aqui o título da receita" name="title" value="{{title}}">
                    <p class="error-message">{{error_title}}</p>
                </div>
                <div class="label">
                    <p>Tempo de preparação (em minutos)</p>
                    <input type="number" placeholder="Coloque aqui o tempo de preparação em minutos" name="prep_time" value="{{prep_time}}">
                    <p class="error-message">{{error_prep_time}}</p>
                </div>
                <div class="label">
                    <p>Select picture</p>
                    <img class="image-selected" src="static_content/assets/image_placeholder_repeated@2x.png">
                    <div class="file-select-box">
                        <div class="input-file">
                            <div class="button-container col-sm-12-12">
                                <a href="/login" class="button"><p>Selecione uma fotografia</p></a>
                            </div>
                            <input type="file" name="photo" class="input-file-btn">
                        </div>
                    </div>
                </div>
                <div class="label">
                    <p>N.º de ingredientes</p>
                    <select name="num_ing" data-pre-value="{{num_ingredients}}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                    </select>
                </div>
                <div class="ingredients">
                    <p class="error-message">{{error_ingredients}}</p>
                    <div class="label">
                        <p class="normal">Ingrediente 1</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_0" value="{{ingredients[0]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 2</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_1" value="{{ingredients[1]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 3</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_2" value="{{ingredients[2]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 4</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_3" value="{{ingredients[3]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 5</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_4" value="{{ingredients[4]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 6</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_5" value="{{ingredients[5]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 7</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_6" value="{{ingredients[6]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 8</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_7" value="{{ingredients[7]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 9</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_8" value="{{ingredients[8]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 10</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_9" value="{{ingredients[9]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 11</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_10" value="{{ingredients[10]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 12</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_11" value="{{ingredients[11]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 13</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_12" value="{{ingredients[12]}}">
                    </div>
                    <div class="label">
                        <p class="normal">Ingrediente 14</p>
                        <input type="text" placeholder="Coloque aqui o ingrediente" name="ing_13" value="{{ingredients[13]}}">
                    </div>
                </div>
                <div class="label">
                    <p>N.º de passos para a preparação</p>
                    <select name="num_steps" data-pre-value="{{num_steps}}">
                        <option value="1">1</option>
                        <option value="2" selected="selected">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>
                <div class="steps">
                    <p class="error-message">{{error_steps}}</p>
                    <div class="label">
                        <p class="normal">Passo 1</p>
                        <textarea placeholder="Escreva aqui como preparar a receita" name="step_0">{{steps[0]}}</textarea>
                    </div>
                    <div class="label">
                        <p class="normal">Passo 2</p>
                        <textarea placeholder="Escreva aqui como preparar a receita" name="step_1">{{steps[1]}}</textarea>
                    </div>
                    <div class="label">
                        <p class="normal">Passo 3</p>
                        <textarea placeholder="Escreva aqui como preparar a receita" name="step_2">{{steps[2]}}</textarea>
                    </div>
                    <div class="label">
                        <p class="normal">Passo 4</p>
                        <textarea placeholder="Escreva aqui como preparar a receita" name="step_3">{{steps[3]}}</textarea>
                    </div>
                    <div class="label">
                        <p class="normal">Passo 5</p>
                        <textarea placeholder="Escreva aqui como preparar a receita" name="step_4">{{steps[4]}}</textarea>
                    </div>
                    <div class="label">
                        <p class="normal">Passo 6</p>
                        <textarea placeholder="Escreva aqui como preparar a receita" name="step_5">{{steps[5]}}</textarea>
                    </div>
                    <div class="label">
                        <p class="normal">Passo 7</p>
                        <textarea placeholder="Escreva aqui como preparar a receita" name="step_6">{{steps[6]}}</textarea>
                    </div>
                </div>
            </div>
            <div class="button-container col-xs-12-12">
                <div class="input-submit">
                    <input type="submit" value="Salvar alterações">
                </div>
            </div>
        </form>
    </section>
    <section class="padded-col-sm-12-12 other-options">
        <p class="generic-text strong-text">Não quer alterar esta receita?</p>
        <div class="button-container col-sm-12-12">
            <a href="/recipe?id={{id}}" class="button"><p>Cancelar</p></a>
        </div>
    </section>
    <section class="padded-col-sm-12-12 other-options">
        <p class="generic-text strong-text">Quer apagar esta receita?</p>
        <div class="button-container col-sm-12-12">
            <form method="post" action="/deleterecipe">
                <input type="hidden" name="id" value="{{id}}">
                <div class="input-submit">
                    <input type="submit" value="Apagar receita">
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
<script src="static_content/js/builds/publish/publish.min.js"></script>
{% endblock %}