{% extends "base.html" %}

{% block head %}
<title>Edit comment - Social Cook</title>
{% endblock %}

{% block content %}
<div id="edit-comment" class="page-content wrapper-special">
    <section class="padded-col-sm-12-12">
        <h2>Edit comment</h2>
        <form method="post">
            <div class="input-labels">
                <div class="label">
                    <p>Comment</p>
                    <textarea title="Comment" name="comment">{{comment}}</textarea>
                    <p class="error-message">{{error_comment}}</p>
                </div>
            </div>
            <div class="button-container col-sm-12-12">
                <div class="input-submit">
                    <input type="submit" value="Save changes">
                </div>
            </div>
        </form>
        <br>
    </section>
    <section class="padded-col-sm-12-12 other-options">
        <p class="generic-text strong-text">Do you want to delete this comment?</p>
        <div class="button-container col-sm-12-12">
            <form method="post" action="/deletecomment">
                <input type="hidden" name="id" value="{{id}}">
                <div class="input-submit">
                    <input type="submit" value="Delete comment">
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock %}