{% extends "base.html" %}

{% block content %}
<div id="page-content" class="forgot-password">
    <article class="padded-col-sm-12-12">
        <h2>Forgot password</h2>
        <p class="generic-text-left">Please insert your email in the form bellow and click “Send”. After that you will receive an email with your new password.</p>
        <form method="post">
            <div class="input-labels">
                <label>
                    <p>Email</p>
                    <input type="email" placeholder="Insert your email" name="email">
                    <p class="error-message">{{error_email}}</p>
                </label>
            </div>
            <div class="button-container col-sm-12-12">
                <div class="input-submit">
                    <input type="submit" value="Send">
                </div>
            </div>
        </form>
    </article>
</div>
{% endblock %}