{% extends "base.html" %}

{% block content %}
<div id="kitchen" class="page-content wrapper">
    <section class="padded-col-sm-12-12">
        <h2>New publications</h2>
        <p class="generic-text generic-text-left">Here are some recent publications that might interest you:</p>
        <div class="recipes-container-rectangles">
            <a href="">
                <article class="wrapper-inside recipe-rectangle">
                    <div class="col-sm-3-12 recipe-image">
                        <img srcset="static_content/assets/image_placeholder.png 1x, static_content/assets/image_placeholder@2x.png 2x" src="static_content/assets/image_placeholder.png" target="recipe-image">
                    </div>
                    <div class="col-sm-7-12 recipe-left-side">
                        <h3 class="make-ellipsis">Arroz de pato</h3>
                        <p class="author make-ellipsis">nmiguelmoura</p>
                        <p class="prep-time">Preparation time: 5min</p>
                    </div>
                    <div class="col-sm-2-12 recipe-right-side">
                        <p>5<br><span class="small-text">pts</span></p>
                    </div>
                </article>
            </a>
            <a href="">
                <article class="wrapper-inside recipe-rectangle">
                    <div class="col-sm-3-12 recipe-image">
                        <img srcset="static_content/assets/image_placeholder.png 1x, static_content/assets/image_placeholder@2x.png 2x" src="static_content/assets/image_placeholder.png" target="recipe-image">
                    </div>
                    <div class="col-sm-7-12 recipe-left-side">
                        <h3 class="make-ellipsis">Arroz de pato</h3>
                        <p class="author make-ellipsis">nmiguelmoura</p>
                        <p class="prep-time">Preparation time: 5min</p>
                    </div>
                    <div class="col-sm-2-12 recipe-right-side">
                        <p>5<br><span class="small-text">pts</span></p>
                    </div>
                </article>
            </a>
            <a href="">
                <article class="wrapper-inside recipe-rectangle">
                    <div class="col-sm-3-12 recipe-image">
                        <img srcset="static_content/assets/image_placeholder.png 1x, static_content/assets/image_placeholder@2x.png 2x" src="static_content/assets/image_placeholder.png" target="recipe-image">
                    </div>
                    <div class="col-sm-7-12 recipe-left-side">
                        <h3 class="make-ellipsis">Arroz de pato</h3>
                        <p class="author make-ellipsis">nmiguelmoura</p>
                        <p class="prep-time">Preparation time: 5min</p>
                    </div>
                    <div class="col-sm-2-12 recipe-right-side">
                        <p>5<br><span class="small-text">pts</span></p>
                    </div>
                </article>
            </a>
            <a href="">
                <article class="wrapper-inside recipe-rectangle">
                    <div class="col-sm-3-12 recipe-image">
                        <img srcset="static_content/assets/image_placeholder.png 1x, static_content/assets/image_placeholder@2x.png 2x" src="static_content/assets/image_placeholder.png" target="recipe-image">
                    </div>
                    <div class="col-sm-7-12 recipe-left-side">
                        <h3 class="make-ellipsis">Arroz de pato</h3>
                        <p class="author make-ellipsis">nmiguelmoura</p>
                        <p class="prep-time">Preparation time: 5min</p>
                    </div>
                    <div class="col-sm-2-12 recipe-right-side">
                        <p>5<br><span class="small-text">pts</span></p>
                    </div>
                </article>
            </a>
        </div>
    </section>
    <section class="padded-col-sm-12-12 col-md-6-12 other-options">
        <p class="generic-text strong-text">Publish or view your own recipes</p>
        <div class="button-container col-sm-12-12">
            <a href="/publish" class="button"><p>Publish new recipe</p></a>
        </div>
        <div class="button-container col-sm-12-12">
            <a href="/myrecipes" class="button"><p>View my recipes</p></a>
        </div>
        <div class="button-container col-sm-12-12">
            <a href="/editpersonaldata" class="button"><p>Edit my personal data</p></a>
        </div>
        <div class="button-container col-sm-12-12">
            <a href="/logout" class="button"><p>Logout</p></a>
        </div>
    </section>
</div>
{% endblock %}