{% extends "base.html" %}

{% block content %}
<div id="page-content" class="login">
    <article class="padded-col-sm-12-12">
        <h2>Login</h2>
        <form method="post">
            <div class="input-labels">
                <label>
                <p>Username</p>
                <input type="text" placeholder="Insert your username" name="username">
            </label>
            <label>
                <p>Password</p>
                <input type="password" placeholder="Insert your password" name="password">
                <p class="error-message"> {{error_message}}</p>
            </label>
            </div>
            <div class="button-container col-sm-12-12">
                <div class="input-submit">
                    <input type="submit" value="Login">
                </div>
            </div>
        </form>
        <br>
        <div class="other-options">
            <a href="/forgotPassword" class="special-link">Forgot my password</a>
            <br>
            <p class="generic-text strong-text">I don't have an account</p>
            <div class="button-container col-sm-12-12">
                <a href="/signup" class="button"><p>Signup</p></a>
            </div>
        </div>
    </article>
</div>
{% endblock %}