{% extends "base.html" %}

{% block head %}
<title>{{username}}'s recipes - Social Cooks</title>
{% endblock %}

{% block content %}
<div id="my-recipes" class="page-content wrapper">
    <section class="padded-col-sm-12-12">
        <h2>{{username}}'s recipes</h2>
        <div class="recipes-container-rectangles">
            {% for recipe in recipes %}
            <a href="/recipe?id={{recipe.key().id()}}">
                <article class="wrapper-inside recipe-rectangle">
                    <div class="col-sm-3-12 col-md-8-12 col-lg-9-12 recipe-image">
                        {% if recipe.image %}
                        <img src="/imagerecipe?img_id={{recipe.key().id()}}" alt="{{recipe.title}}">
                        {% else %}
                        <picture>
                            <source srcset="static_content/assets/image_placeholder.png 1x, static_content/assets/image_placeholder@2x.png, 2x" media="(max-width: 767px)">
                            <source srcset="static_content/assets/image_placeholder_repeated.png 1x, static_content/assets/image_placeholder_repeated@2x.png, 2x" media="(min-width: 768px)">
                            <img src="static_content/assets/image_placeholder.png" alt="Recipe image">
                        </picture>
                        {% endif %}
                    </div>
                    <div class="col-sm-7-12 col-md-8-12 col-lg-9-12 recipe-left-side">
                        <h3 class="make-ellipsis">{{recipe.title}}</h3>
                        <p class="prep-time">Preparation time: {{recipe.prep_time}} min</p>
                    </div>
                    <div class="col-sm-2-12 col-md-4-12 col-lg-3-12 recipe-right-side">
                        <p>{{recipe.points}}<br><span class="small-text">pts</span></p>
                    </div>
                    <div class="col-sm-12-12 col-md-4-12 col-lg-3-12 recipe-components">
                        <p class="general-text strong-text">What do I need?</p>
                        <ul>
                            {% for ing in recipe.ingredients%}
                            <li>{{ing}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="recipe-open col-sm-12-12">
                        <p>Open recipe</p>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>
        <p class="generic-text-left">{{no_recipes_message}}</section>
    </section>
    <section class="padded-col-sm-12-12 col-md-6-12 other-options">
        <p class="generic-text strong-text">Publish or go to your kitchen</p>
        <div class="button-container col-sm-12-12">
            <a href="/publish" class="button"><p>Publish new recipe</p></a>
        </div>
        <div class="button-container col-sm-12-12">
            <a href="/kitchen" class="button"><p>My kitchen</p></a>
        </div>
    </section>
</div>
{% endblock %}