{% extends "base.html" %}

{% block head %}
<title>Novo comentário - Social Cooks</title>
{% endblock %}

{% block content %}
<div id="new-comment" class="page-content wrapper-special">
    <section class="padded-col-sm-12-12">
        <h2>Comentário em {{title}}</h2>
        <form method="post">
            <div class="input-labels">
                <div class="label">
                    <p>Comentário</p>
                    <textarea title="Comment" placeholder="Coloque aqui o seu comentário ou questão" name="comment"></textarea>
                    <p class="error-message">{{error_comment}}</p>
                </div>
            </div>
            <div class="button-container col-sm-12-12">
                <div class="input-submit">
                    <input type="submit" value="Enviar comentário">
                </div>
            </div>
        </form>
        <br>
    </section>
</div>
{% endblock %}