{% extends "base.html" %}

{% block head %}
<title>Novas publicações - Social Cooks</title>
{% endblock %}

{% block content %}
<div id="news" class="page-content wrapper">
    <section class="padded-col-sm-12-12">
        <h2>Novas publicações</h2>
        <p class="generic-text generic-text-left">Aqui estão as publicações mais recentes e que julgamos serem do seu agrado:</p>
        <div class="recipes-container-rectangles">
            {% for recipe in recipes %}
            <a href="/recipe?id={{recipe.key().id()}}">
                <article class="wrapper-inside recipe-rectangle">
                    <div class="col-sm-3-12 recipe-image">
                        {% if recipe.image %}
                        <img src="/imagerecipe?img_id={{recipe.key().id()}}" alt="{{recipe.title}}">
                        {% else %}
                        <img srcset="static_content/assets/image_placeholder.png 1x, static_content/assets/image_placeholder@2x.png 2x" src="static_content/assets/image_placeholder.png" alt="recipe-image">
                        {% endif %}
                    </div>
                    <div class="col-sm-7-12 recipe-left-side">
                        <h3 class="make-ellipsis">{{recipe.title}}</h3>
                        <p class="author make-ellipsis">{{recipe.user}}</p>
                        <p class="prep-time">Preparação: {{recipe.prep_time}} min</p>
                    </div>
                    <div class="col-sm-2-12 recipe-right-side">
                        <p>{{recipe.points}}<br><span class="small-text">pts</span></p>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>
        <div class="wrapper-inside btns-nav-recipes">
            {% if offset_previous %}
            <div class="btn-more padded-col-sm-12-12 padded-col-md-6-12">
                <a href="/news?page={{offset_previous_page}}" class="button"><p>Ver anteriores</p></a>
            </div>
            {% endif %}

            {% if offset_next %}
            <div class="btn-more padded-col-sm-12-12 padded-col-md-6-12">
                <a href="/news?page={{offset_next_page}}" class="button"><p>Ver mais</p></a>
            </div>
            {% endif %}
        </div>
    </section>
    <section class="padded-col-sm-12-12">
        <div class="other-options">
            <p class="generic-text strong-text">Publique ou visite a sua cozinha </p>
            <div class="button-container col-sm-12-12 padded-col-md-6-12">
                <a href="/publish" class="button"><p>Publique nova receita</p></a>
            </div>
            <div class="button-container col-sm-12-12 padded-col-md-6-12">
                <a href="/kitchen" class="button"><p>A minha cozinha</p></a>
            </div>
        </div>
    </section>
</div>
{% endblock %}