{% extends "base.html" %}

{% block head %}
<title>{{title}} - Social Cooks</title>
{% endblock %}

{% block content %}
<div id="recipe" class="page-content wrapper">
    <section class="col-sm-12-12 title">
        <h2 class="make-ellipsis">{{title}}</h2>
        <p class="generic-text make-ellipsis">Cooked by <a href="/myrecipes?id={{author_id}}" class="special-link-inline">{{author}}</a></p>
        <div class="prep image-container">
            {% if image %}
                <img src="/imagerecipe?img_id={{id}}">
            {% else %}
                <img srcset="static_content/assets/image_placeholder_repeated.png 1x, static_content/assets/image_placeholder_repeated@2x.png, 2x" src="static_content/assets/image_placeholder_repeated.png">
            {% endif %}
        </div>
        <div class="topics padded-col-sm-12-12 padded-col-md-12-12">
            <div class="prep-time">
                <p class="generic-topic strong-text">Preparation time</p>
                <p class="generic-topic">{{prep_time}} minutes</p>
            </div>
            <div class="prep-components">
                <p class="generic-topic strong-text">What do I need?</p>
                <ul>
                    {% for ingredient in ingredients %}
                    <li>{{ingredient}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="prep-steps">
                <p class="generic-topic strong-text">How can I prepare?</p>
                <ol>
                    {% for step in steps %}
                    <li>{{step}}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% if user_id == author_id%}
            <div class="edit padded-col-sm-12-12">
                <a href="/editrecipe?id={{id}}"><p><img src="static_content/assets/edit.png">Edit or delete this recipe</p></a>
            </div>
        {% endif %}
    </section>
    <section class="status col-sm-12-12 wrapper-inside">
        <div class="points col-sm-8-12 col-md-4-12 wrapper-inside">
            <div class="points-texts padded-col-sm-8-12">
                <p>This recipe has</p>
                <p>{{points}} points</p>
            </div>
            <div class="heart padded-col-sm-4-12">
                <form method="post">
                    <input type="hidden" name="point" value="{{user_pointed}}">
                    {% if user_pointed %}
                    <img srcset="static_content/assets/heart_on.png 1x, static_content/assets/heart_on@2x.png 2x" src="static_content/assets/heart_on.png">
                    {% else %}
                    <img srcset="static_content/assets/heart_off.png 1x, static_content/assets/heart_off@2x.png 2x" src="static_content/assets/heart_off.png">
                    {% endif %}
                    <input type="submit">
                </form>
            </div>
        </div>
        <div class="social padded-col-sm-4-12 col-md-2-12 wrapper-inside">
            <div class="col-sm-6-12">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://socialcooks.org/recipe?id={{id}}" target="_blank"><img srcset="static_content/assets/facebook_btn.png 1x, static_content/assets/facebook_btn@2x.png 2x" src="static_content/assets/facebook_btn.png"></a>
            </div>
            <div class="col-sm-6-12">
                <a href="http://www.twitter.com/share?url=http://socialcooks.org/recipe?id={{id}}" target="_blank"><img srcset="static_content/assets/twitter_btn.png 1x, static_content/assets/twitter_btn@2x.png 2x" src="static_content/assets/twitter_btn.png"></a>
            </div>
        </div>
        <div class="more col-sm-12-12 col-md-6-12">
            <a href="/myrecipes?id={{author_id}}"><p>See more from this cook</p></a>
        </div>
    </section>
    <section class="comments padded-col-sm-12-12 padded-col-md-12-12">
        <p class="generic-topic strong-text">Comments and questions</p>
        {% for comment in comments %}
        <article>
            <p class="comment">{{comment.comment}}</p>
            <p class="author"><a href="/myrecipes?id={{comment.user_id}}">{{comment.username}} on {{comment.created}}</a>
                {% if user_id == comment.user_id%}
                <a class="special-link" href="/editcomment?id={{comment.key().id()}}"><img src="static_content/assets/edit.png">edit</a></p>
                {% endif %}
        </article>
        {% endfor %}
        <p class="">{{no_comments_message}}</p>
        <br>
        <p class="generic-text strong-text">Post a comment or question</p>
        <div class="button-container col-sm-12-12 col-md-6-12">
            <a href="/newcomment?id={{id}}" class="button"><p>Post comment</p></a>
        </div>
    </section>
    <section class="padded-col-sm-12-12 col-md-6-12 other-options">
        <p class="generic-text strong-text">Publish or view your recipes</p>
        <div class="button-container col-sm-12-12">
            <a href="/publish" class="button"><p>Publish</p></a>
        </div>
        <div class="button-container col-sm-12-12">
            <a href="/kitchen" class="button"><p>My kitchen</p></a>
        </div>
        <div class="button-container col-sm-12-12">
            <a href="/myrecipes?id={{user_id}}" class="button"><p>My recipes</p></a>
        </div>
    </section>
</div>
{% endblock %}

{% block alert %}

{% if alert_window %}
<script>alert("{{alert_message}}")</script>
{% endif %}

{% endblock %}