{% extends "base.html" %}

{% block head %}
<title>Registo - Social Cooks</title>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
<div id="signup" class="page-content wrapper-special">
    <section class="padded-col-sm-12-12">
        <h2>Registo</h2>
        <form method="post">
            <div class="input-labels">
                <div class="label">
                    <p>Nome de utilizador</p>
                    <input type="text" placeholder="Escolha um nome de utilizador" name="username" value="{{username}}">
                    <p class="error-message">{{error_username}}</p>
                </div>
                <div class="label">
                    <p>Email</p>
                    <input type="email" placeholder="Coloque aqui o seu email" name="email" value="{{email}}">
                    <p class="error-message">{{error_email}}</p>
                </div>
                <div class="label">
                    <p>Password</p>
                    <input type="password" placeholder="Escolha uma palavra-passe" name="password">
                    <p class="error-message">{{error_password}}</p>
                </div>
                <div class="label">
                    <p>Verify password</p>
                    <input type="password" placeholder="Insira novamente a palavra-passe" name="verify">
                    <p class="error-message"></p>
                </div>
            </div>
            <div class="label g-recaptcha-div">
                <div class="g-recaptcha" data-sitekey="6LfAVwwUAAAAAJWCue0ecx8wkvMxSiK_gC6qxPZb"></div>
                <p class="error-message">{{error_captcha}}</p>
            </div>
            <div class="button-container col-xs-12-12">
                <div class="input-submit">
                    <input type="submit" value="Criar conta">
                </div>
            </div>
        </form>
    </section>
    <section class="padded-col-sm-12-12 other-options">
        <p class="generic-text strong-text">Já tem conta?</p>
        <div class="button-container col-sm-12-12">
            <a href="/login" class="button"><p>Login</p></a>
        </div>
    </section>
</div>
{% endblock %}