{% extends "base.html" %}

{% block content %}
<div id="page-content" class="top">
    <article class="padded-col-sm-12-12 padded-col-md-12-12">
        <h2>Top voted</h2>
        <p class="generic-text generic-text-left">These are the top voted recipes in Cook Social:</p>
    </article>
    <article class="col-sm-12-12 padded-col-md-12-12">
        <div class="recipes-container-rectangles">
                <a href=""><div class="wrapper-inside recipe-rectangle">
                    <div class="col-sm-3-12 recipe-image">
                        <img srcset="static_content/assets/image_placeholder.png 1x, static_content/assets/image_placeholder@2x.png 2x" src="static_content/assets/image_placeholder.png" target="recipe-image">
                    </div>
                    <div class="col-sm-7-12 recipe-left-side">
                        <h3 class="make-ellipsis">Arroz de pato</h3>
                        <p class="author make-ellipsis">nmiguelmoura</p>
                        <p class="prep-time">Preparation time: 5min</p>
                    </div>
                    <div class="col-sm-2-12 recipe-right-side">
                        <p>5<br><span class="small-text">pts</span></p>
                    </div>
                </div></a>
                <a href=""><div class="wrapper-inside recipe-rectangle">
                    <div class="col-sm-3-12 recipe-image">
                        <img srcset="static_content/assets/image_placeholder.png 1x, static_content/assets/image_placeholder@2x.png 2x" src="static_content/assets/image_placeholder.png" target="recipe-image">
                    </div>
                    <div class="col-sm-7-12 recipe-left-side">
                        <h3 class="make-ellipsis">Arroz de pato</h3>
                        <p class="author make-ellipsis">nmiguelmoura</p>
                        <p class="prep-time">Preparation time: 5min</p>
                    </div>
                    <div class="col-sm-2-12 recipe-right-side">
                        <p>5<br><span class="small-text">pts</span></p>
                    </div>
                </div></a>
                <a href=""><div class="wrapper-inside recipe-rectangle">
                    <div class="col-sm-3-12 recipe-image">
                        <img srcset="static_content/assets/image_placeholder.png 1x, static_content/assets/image_placeholder@2x.png 2x" src="static_content/assets/image_placeholder.png" target="recipe-image">
                    </div>
                    <div class="col-sm-7-12 recipe-left-side">
                        <h3 class="make-ellipsis">Arroz de pato</h3>
                        <p class="author make-ellipsis">nmiguelmoura</p>
                        <p class="prep-time">Preparation time: 5min</p>
                    </div>
                    <div class="col-sm-2-12 recipe-right-side">
                        <p>5<br><span class="small-text">pts</span></p>
                    </div>
                </div></a>
                <a href=""><div class="wrapper-inside recipe-rectangle">
                    <div class="col-sm-3-12 recipe-image">
                        <img srcset="static_content/assets/image_placeholder.png 1x, static_content/assets/image_placeholder@2x.png 2x" src="static_content/assets/image_placeholder.png" target="recipe-image">
                    </div>
                    <div class="col-sm-7-12 recipe-left-side">
                        <h3 class="make-ellipsis">Arroz de pato</h3>
                        <p class="author make-ellipsis">nmiguelmoura</p>
                        <p class="prep-time">Preparation time: 5min</p>
                    </div>
                    <div class="col-sm-2-12 recipe-right-side">
                        <p>5<br><span class="small-text">pts</span></p>
                    </div>
                </div></a>
            </div>
    </article>
    <br>
    <br>
    <article class="padded-col-sm-12-12">
        <div class="other-options wrapper-inside">
            <p class="generic-text strong-text col-sm-12-12">Publish or view your own recipes</p>
            <div class="button-container col-sm-12-12 padded-col-md-6-12">
                <a href="/publish" class="button"><p>Publish new recipe</p></a>
            </div>
            <div class="button-container col-sm-12-12 padded-col-md-6-12">
                <a href="/mykitchen" class="button"><p>My kitchen</p></a>
            </div>
        </div>
    </article>
</div>
{% endblock %}