{% extends "base.html" %}

{% block head %}
<title>Top voted - Social Cooks</title>
{% endblock %}

{% block content %}
<div id="top" class="page-content wrapper">
    <section class="padded-col-sm-12-12">
        <h2>Top voted</h2>
        <p class="generic-text generic-text-left">These are the top voted recipes on Cook Social:</p>
        <div class="recipes-container-rectangles">
            {% for recipe in recipes %}
            <a href="/recipe?id={{recipe.key().id()}}">
                <article class="wrapper-inside recipe-rectangle">
                    <div class="col-sm-3-12 recipe-image">
                        {% if recipe.image %}
                        <img src="/imagerecipe?img_id={{recipe.key().id()}}" alt="{{recipe.title}}">
                        {% else %}
                        <img srcset="static_content/assets/image_placeholder.png 1x, static_content/assets/image_placeholder@2x.png 2x" src="static_content/assets/image_placeholder.png" alt="recipe-image">
                        {% endif %}
                    </div>
                    <div class="col-sm-7-12 recipe-left-side">
                        <h3 class="make-ellipsis">{{recipe.title}}</h3>
                        <p class="author make-ellipsis">{{recipe.user}}</p>
                        <p class="prep-time">Preparation time: {{recipe.prep_time}} min</p>
                    </div>
                    <div class="col-sm-2-12 recipe-right-side">
                        <p>{{recipe.points}}<br><span class="small-text">pts</span></p>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>
    </section>
    <section class="padded-col-sm-12-12">
        <div class="other-options">
            <p class="generic-text strong-text">Publish or view your own recipes</p>
            <div class="button-container col-sm-12-12 padded-col-md-6-12">
                <a href="/publish" class="button"><p>Publish new recipe</p></a>
            </div>
            <div class="button-container col-sm-12-12 padded-col-md-6-12">
                <a href="/kitchen" class="button"><p>My kitchen</p></a>
            </div>
        </div>
    </section>
</div>
{% endblock %}