footer {
    background-color: #EC5800;
    width: 100%;
    margin-top: 30px;
}

footer a {
    display: block;
    color: white;
    width: 100%;
}

.footer-top {
    padding-top:10px;
}

.footer-top li {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: 1em;
    font-weight: 300;
    list-style: none;
}

footer hr {
    border: none;
    border-bottom: 1px solid white;
}

.footer-bottom h4{
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    padding-bottom:10px;
    font-weight: 300;
    color: white;
}

@media screen and (min-width: 768px) {
    footer ul {
        column-count: 2;
    }
}

@media screen and (min-width: 1024px) {
    footer ul {
        column-count: 3;
    }
}