form .label {
    display: block;
    margin-bottom: 20px;
}

form .label p {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 5px;
}

form .label .normal {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="password"],
form input[type="email"],
form textarea,
form select {
    width: 100%;
    border: 1px solid #979797;
    border-radius: 0;
    font-size: 0.875em;
    text-indent: 5px;
    height: 40px;
    font-weight: 400;
}

form textarea {
    height: 120px;
}

form .input-file {
    position: relative;
    margin-top: -15px;
}

form .image-selected {
    width: 100%;
}

form .input-file-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}