/*setup to get footer always on bottom of page*/
html,
body {
    height: 100%;
}

.global-container {
    min-height: 100%;
    position: relative;
}

.page-content {
    padding-bottom: 283px;
}

footer {
    height:258px;
	position:absolute;
	bottom:0;
	left:0;
}

/*Define margin between sections*/
section {
    margin-bottom: 35px;
}

/*style for fade background when menu bar open*/
.fade-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    display: none;
}

/*style for texts*/
h2 {
    font-size: 1.5em;
    width: 100%;
    color: #EC5800;
    margin: 20px 0;
    text-align: center;
}

.generic-text {
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

.generic-text-left {
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    padding-bottom: 20px;;
}

.generic-topic {
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    padding-bottom: 5px;
}

.strong-text {
    font-weight: 700;
}

.small-text {
    font-size: 0.625em;
}

.error-message {
    font-size: 0.875em;
    color: red;
    min-height: 10px;
    font-weight: 400 !important;
}

.make-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.special-link {
    color: #EC5800;
    text-align:center;
    font-size: 1em;
    width: 100%;
    display: block;
}

.special-link-inline {
    color: #EC5800;
    font-size: 1em;
}

/*miscellaneous*/
.make-table {
    display: table;
}

.make-table-cell {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

@media screen and (min-width: 768px) {
    .page-content {
        padding-bottom: 187px;
    }

    footer {
        height:162px;
    }

    h2 {
        font-size: 1.75em;
    }

    .generic-text {
        font-size: 1.125em;
    }

    .extra-space {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .page-content {
        padding-bottom: 163px;
    }

    footer {
        height:128px;
    }
}
