nav {
    position: relative;
    background-color: #FEF7F3;
    padding: 8px 0;
    z-index: 1001;
    display: none;
}

nav li {
    text-align: center;
    padding: 12px 0;
}

nav li a {
    display: block;
    width: 100%;
    color: #EC5800;
}