article {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.other-options .button {
    margin-top: 5px;
}

.generic-text-left {
    padding-bottom: 20px;
    text-align: left;
    font-size: 1em;
    line-height: 1.5em;
}