.main-picture {
    width: 100%;
}

.main-picture img {
    width: 100%;
}

.main-page .button {
    width: calc(50% - 10px);
}

.main-page .button:first-child {
    margin-right: 20px;
}

@media screen and (min-width: 480px) {
    .main-picture {
        height: 300px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1024px){
    .main-picture {
        height: 350px;
        overflow: hidden;
    }
}