.main-picture {
    width: 100%;
}

.main-picture img {
    width: 100%;
}

.buttons .button-container:first-child {
    padding-right: 5px;
}

.buttons .button-container:last-child {
    padding-left: 5px;
}

@media screen and (min-width: 480px) {
    .main-picture {
        max-height: 300px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1024px){
    .main-picture {
        max-height: 350px;
        overflow: hidden;
    }
}