#recipe h2 {
    margin-bottom: 5px;
}

#recipe .generic-text {
    margin-bottom: 20px;
}

#recipe .image-container {
    position: relative;
    width: 100%;
    height: 108px;
    overflow: hidden;
}

#recipe .image-container img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

#recipe .topics {
    margin-bottom: 20px;
}

#recipe [class*="prep"] {
    margin-bottom: 15px;
}

#recipe .prep-components li {
    padding-bottom: 5px;
    list-style: none;
}

#recipe .prep-steps li {
    padding-bottom: 10px;
    list-style-position: inside;
}

#recipe .edit p {
    display: block;
    margin: 0 auto;
    width: 210px;
    font-size: 1em;
}

#recipe .edit img {
    width: 1em;
    margin-right:5px;
}

@media screen and (min-width: 768px) {
    #recipe [class*="prep"] {
        margin-bottom: 25px;
    }

    #recipe .image-container {
        height: 200px;
    }

    #recipe .prep-components ul {
        column-count: 3;
    }
}

@media screen and (min-width: 1024px) {
    #recipe .image-container {
        height: 250px;
    }
}