@charset "UTF-8";

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
address,
form,
fieldset,
blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th,
caption {
    font-weight: normal;
    text-align: left;
}

img,
fieldset {
    border: 0;
}

ol {
    padding-left: 0;
    list-style: decimal;
}

ul {
    padding-left: 0;
    list-style: square;
}

q:before,
q:after {
    content: "";
}

a{
    text-decoration: none;
}