.status {
    background-color: #FEF7F3;
    margin-bottom: 25px;
}

.status .points p:first-child {
    color: #EC5800;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    padding-top: 4px
}

.status .points p:last-child {
    color: #EC5800;
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
    padding-bottom: 4px
}

.status .heart {
    position: relative;
}

.status .heart img {
    display: block;
    margin: 8px auto 0 auto;
}

.status .heart input[type="submit"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.status .social {
    border-left: 1px solid white;
}

.status .social img {
    display: block;
    margin: 8px auto 0 auto;
}
.status .more {
    padding: 8px 0;
    border-top: 1px solid white;
}

.status .more p {
    color: #EC5800;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .status {
        margin-bottom: 30px;
    }

    .status .social {
        border-right: 1px solid white;
    }

    .status .more {
        padding: 15px 0;
        border-top: none;
    }

    .status .more p {
        font-size: 1.125em;
    }
}